---
import Layout from "../layouts/layout.astro"
---

<Layout title="About Page">
  <h1>About</h1>
  <p>
    My name is <strong>Zulham Daninoor</strong> and I am a cyber security enthusiast.
  </p>
  <a href="/">Home</a>
</Layout>
